

<div class ="center container" >
	<div class="welcome">Welcome to</div>
	<%= image_tag"ease_big_label.png", class: "span12 splash-image "%>
</div>
<div class="main" style=" text-align:center;">
	<p>Every year, millions of children in Africa are denied access to basic education due to poverty! </p>
	<p>EASE is an MIT-student initiative founded with the primary aim of making basic education more accessible to underprivileged children in Africa. We realize that this is a enormous task, but as the wise will say, a journey of a hundred years begins with one step. </p>
	<p>Supporting child education since April, 2002 </p>
	<p>Explore this site to learn more about how you can help.</p>


	

	<div>
		<%= image_tag"dummy.png", class: "thumb"%>
		<%= image_tag"dummy.png", class: "thumb"%>
		<%= image_tag"dummy.png", class: "thumb"%>

	</div>
</div>


<div class = "main ">

	<h3>
		News Item
	</h3>
	<i>Date, Time, Authored</i>
	<br/>
	<br>
	<p>Bacon ipsum dolor sit amet fatback biltong drumstick shankle tenderloin. Spare ribs pork chop jowl shank pork capicola venison meatloaf turducken ham pork loin biltong t-bone short ribs. Turkey t-bone shoulder shankle boudin, bacon ball tip tenderloin. Biltong salami capicola shoulder, ham hock frankfurter prosciutto tongue t-bone meatloaf jowl flank ground round ball tip. Shankle shoulder pancetta spare ribs.
	</p>
	<p>Rump cow pancetta t-bone. Corned beef frankfurter salami, brisket shank pastrami shoulder hamburger chicken jowl flank short ribs. Beef beef ribs tongue, hamburger pork t-bone ham pancetta biltong. Shank tri-tip ribeye sirloin andouille swine tenderloin shankle jerky pork belly chuck pastrami.</p>
	<p>Bacon ipsum dolor sit amet fatback biltong drumstick shankle tenderloin. Spare ribs pork chop jowl shank pork capicola venison meatloaf turducken ham pork loin biltong t-bone short ribs. Turkey t-bone shoulder shankle boudin, bacon ball tip tenderloin. Biltong salami capicola shoulder, ham hock frankfurter prosciutto tongue t-bone meatloaf jowl flank ground round ball tip. Shankle shoulder pancetta spare ribs.
	</p>
	<p>Rump cow pancetta t-bone. Corned beef frankfurter salami, brisket shank pastrami shoulder hamburger chicken jowl flank short ribs. Beef beef ribs tongue, hamburger pork t-bone ham pancetta biltong. Shank tri-tip ribeye sirloin andouille swine tenderloin shankle jerky pork belly chuck pastrami.</p>
<br>
	<div style="text-align:center">
		<%= image_tag"dummy.png", class: "thumb"%>
		<%= image_tag"dummy.png", class: "thumb"%>
		<%= image_tag"dummy.png", class: "thumb"%>

	</div>

</div>


<div class = "main ">

	<h3>
		News Item
	</h3>
	

	<div style="width:500px; margin:auto;">
		
<%= image_tag"dummy1.png", class: "thumb"%>		

	</div>

	<div>
		<br>
		<br>
	<i>Date, Time, Authored</i>
	<p>Bacon ipsum dolor sit amet fatback biltong drumstick shankle tenderloin. Spare ribs pork chop jowl shank pork capicola venison meatloaf turducken ham pork loin biltong t-bone short ribs. Turkey t-bone shoulder shankle boudin, bacon ball tip tenderloin. Biltong salami capicola shoulder, ham hock frankfurter prosciutto tongue t-bone meatloaf jowl flank ground round ball tip. Shankle shoulder pancetta spare ribs.
	</p>
	<p>Rump cow pancetta t-bone. Corned beef frankfurter salami, brisket shank pastrami shoulder hamburger chicken jowl flank short ribs. Beef beef ribs tongue, hamburger pork t-bone ham pancetta biltong. Shank tri-tip ribeye sirloin andouille swine tenderloin shankle jerky pork belly chuck pastrami.</p>
	</div>
<br>

	

</div>
<BR>
	<BR>
		<BR>
			<BR>
				<BR>


